
mat-sidenav-container {
  display: flex;
  height: calc(100vh - 120px);
}

mat-sidenav {
  width: 200px;
  background: #f4f4f4;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

mat-sidenav.collapsed {
  width: 60px; // Khi thu nhỏ
}

mat-sidenav-content{
  width: 100%;
  // flex: 1;
  padding: 20px;
  background-color: #fff;
  transition: margin-left 0.3s ease-in-out;
}